.head {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  background: #EDEDED;
  z-index: 100;
}

.thread-list {
  position: fixed;
  width: 30%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 90;
  padding-top: 50px;
  border-right: 1px solid #CCC;
  overflow-y: scroll;
}

.thread-list .user {
  padding: 20px 15px;
  border-bottom: 1px solid #EDEDED;
  cursor: pointer;
}

.thread-list .user.selected {
  background: #4380ff;
  color: #FFF;
}

.thread-list .user .number {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 10px;
}

.thread-list .user .lastMessage {
  color: #666;
}

.thread-list .user.selected .lastMessage {
  color: #FFF;
}

.thread {
  position: absolute;
  width: 70%;
  height: 100%;
  top: 0;
  right: 0;
  padding-top: 50px;
  text-align: right;
}

.thread .message {
  margin: 30px;
}

.thread .message.fromUser {
  text-align: left;
}

.thread .message .timestamp {
  color: #999;
  font-size: 12px;
}

.thread .message .contents {
  display: inline-block;
  margin: 10px 0;
  background: #DDD;
  color: #000;
  padding: 12px 16px;
  border-radius: 20px;
}

.thread .message.fromUser .contents {
  background: #29a4ff;
  color: #FFF;
}

.thread .chat-input form {
  position: fixed;
  width: 70%;
  bottom: 0;
  height: 60px;
  border-top: 1px solid #CCC;
}

.thread .chat-input form input {
  width: 100%;
  height: 100%;
  left: 0;
  border: none;
  outline: none;
  padding: 0 12% 0 20px;
}

.thread .chat-input button {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10%;
  height: 100%;
  background: #FFF;
  border: none;
  font-weight: bold;
  color: #29a4ff;
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
}

.thread .chat-input button:hover {
  background: #29a4ff;
  color: #FFF;
}

.thread .chat-input button:disabled {
  color: #CCC;
  background: #FFF !important;
}
