<div class="head"></div>

<div class="thread-list">
  <ul>
    <li *ngFor="#chat of chats" class="user" [class.selected]="chat === selectedChat" (click)="selectChat(chat)">
      <div class="number">
        {{chat.number}}
      </div>
      <div class="lastMessage">
        {{chat.thread[chat.thread.length - 1].body}}
      </div>
    </li>
  </ul>
</div>

<div *ngIf="selectedChat" class="thread">
  <ul>
    <li *ngFor="#message of selectedChat.thread" class="message" [class.fromUser]="message.from == 1">
      <div class="timestamp">
        {{message.timestamp}}
      </div>
      <div class="contents">
        {{message.body}}
      </div>
    </li>
  </ul>
  <div class="chat-input clear">
    <form method="post">
      <input type="text" placeholder="Message..." [(ngModel)]="selectedChat.newMessage">
      <button type="submit" [disabled]="!selectedChat.newMessage">Send</button>
    </form>
  </div>
</div>
